################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/it.core/bin/Debug/netstandard2.0
