################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/it.core/bin
/it.core/obj
/RunTest/bin
/RunTest/obj
/.vs
